body{
  overflow-x: hidden;
  font-family: 'Merriweather', serif;
  text-decoration: none;
  font-size: 20px;
  
  margin: 0;
  padding: 0;
  background:linear-gradient(135deg, #f7f4fd, #f3f1f7);
  background-color:#f7f4fd; 
}

.header{
  /* add code to prevent content overlay */
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.top-bar{
  background: #eab83a;
}

.navbar {
  background: rgb(0, 73, 147, .7) !important; /*rgb(203 64 68 / 70%)!important*/;
  background-blend-mode: darken;
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid #eab83a;
  /*padding: 0.1rem !important;*/
}

.navbar-brand {
  padding: 0 !important;
  text-align: center;
}

.nav-menu a {
  padding: 0.7rem 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: .01rem;
  text-decoration: none;
  color: #cdd8e3 !important;
  text-transform: uppercase;
  display: block;
  line-height: .2rem;
}

.nav-menu a.is-active{
  background: #d04c51;
  color: #FFF /*#fef797*/ !important;
  border-radius: 2px;
  border-bottom: 2px solid rgb(254 247 151 / 65%);
}

/* about start */
.about {
  margin-top: 150px;
  text-align: center;
}

.about .button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.75rem 1.25rem;
  border-radius: 0.3rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.about .button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 0.3rem;
  z-index: -2;
}

.about .button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 0.3rem;
  z-index: -1;
}

.about .button:hover {
  color: #fff;
}

.about .button:hover:before {
  width: 100%;
}

.about #mainCol1 {
    background-color: rgb(54, 89, 247);
    height: 250px;
    position: relative;
  }

.about #mainCol2 {
  background-color: rgb(54, 89, 247);
  height: 250px;
  position: relative;
}

.about  .mainH4{
    position:inherit;
    top: 20%;    
}

.about .mainH1{
    position: inherit;
    top: 60%;
}
.about .mainH3{
    position: inherit;
    top: 50%;
}

.about #col1 {
  background-color: rgb(136, 155, 240);
  height: 250px;
  position: relative;
}
.about .col1H4{
    margin-top: 20px;
}
.about .col1H3{
    margin-top: 30px;
}
.about .col1H33{
    margin-top: 34px;
}

.about #col2 {
  background-color: rgb(96, 125, 255);
  height: 250px;
}
.about #col3 {
  background-color: rgb(96, 125, 255);
  height: 250px;
}
.about #col4 {
  background-color: rgb(136, 155, 240);
  height: 250px;
}


.img {
  position: relative;
  text-align: center;
  color: white;
}

.imgTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
.imgSubTxt {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
  }


.info {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLYgL9ckUmDa9wA13LF5Gg8R8cETmZ1HOYjw&usqp=CAU);
  background-size: cover;
}
/* about end */
