body{
    overflow-x: hidden; margin: 0; padding: 0; background: #fefefe; 
}

/*----Header Section----*/
.header{width: 100%; position: fixed; z-index: 10;
}

/*----Top Bar Section----*/
.top-bar{
    background: #eab83a;  padding: .3rem 0.1rem 0;  color: #f5f4f4;  font-family: sans-serif; 
    font-size: .9rem;
}
span.top-icon {
    background: #d39c29; border: 1px solid #f5f4f4; border-radius: 50%;  color: #f5f4f4;
    display: inline-block;  width: 25px;  height: 25px;  line-height: 25px;  margin-right: 10px;
    text-align: center;  font-weight: bold;  font-size: .7rem;
}
.top-bar .button {font-size: 0.7rem; text-align: center; padding: .3rem .7rem; margin-top: 0;}
.top-bar .button:after {background-color: rgb(208 76 81 / 58%);;}
.top-bar .button:before {background-color: #d04c51;}

/*------Navigation Bar Styling------*/
.navbar {
    background: rgb(0, 73, 147, .7) !important; background-blend-mode: darken;  width: 100%;
    height: fit-content; border-bottom: 1px solid #eab83a;
}
.navbar-brand { padding: 0 !important;text-align: center;
}
.nav-menu a { padding: 0.7rem 0.5rem;  font-family: Arial, Helvetica, sans-serif;
    font-size: .75rem; font-weight: 500;  letter-spacing: .01rem;  text-decoration: none;
    color: #cdd8e3 !important;  text-transform: uppercase;  display: block;  line-height: .2rem;
}
.nav-menu a.is-active{ background: #d04c51;   color: #FFF !important;
    border-radius: 1px;  border-bottom: 2px solid #2e2e2e;
}

/*------Button Styling------*/
.button {display: inline-block;   margin-top: 2rem;  padding: 0.8rem 1.25rem;  border-radius: 10rem;
    color: #fff;  text-transform: uppercase;  text-decoration: none;  font-size: 1rem;
    letter-spacing: 0.15rem; transition: all 0.3s;  position: relative;  overflow: hidden;
    z-index: 1;
}
.button:after {content: ""; position: absolute;  bottom: 0; left: 0; width: 100%; height: 100%;
    background-color: #0cf; border-radius: 10rem; z-index: -2;
}
.button:before {content: "";  position: absolute; bottom: 0; left: 0; width: 0%; height: 100%;
    background-color: #008fb3; transition: all 0.3s; border-radius: 10rem; z-index: -1;
}
.button:hover { color: #fff;
}
.button:hover:before { width: 100%;
}

/* introduction section */
.intro-header{
    padding:0.75rem ;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
}

.intro-sub{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
.sub-text{
    margin-top: 40px;
    font-family: 'Cinzel', serif;
    font-family: 'Inconsolata', monospace bold;
    font-size: 1.3rem;
    
}

 .introduction a{
    display: inline-block;
    margin-top: 2rem;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

 .introduction a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
}

 .introduction a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

 .introduction a:hover {
    color: #fff;
}

 .introduction a:hover:before {
    width: 100%;
}

/* service section styling */
.service{
    display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
    margin: 90px;
} 

/* footer section start */
/* .footer{
    background-color: #008fb3;
} */

.footer .card-body{
    background-color: #008fb3;
}

